<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="X-UA-Compatible" content="ie=edge" />
<title>Danh sách sản phẩm</title>
<link rel="stylesheet"
	href="https://fonts.googleapis.com/css?family=Roboto:400,700" />
<!-- https://fonts.google.com/specimen/Roboto -->
<link rel="stylesheet" href="/css/fontawesome.min.css" />
<!-- https://fontawesome.com/ -->
<link rel="stylesheet" href="/css/bootstrap.min.css" />
<!-- https://getbootstrap.com/ -->
<link rel="stylesheet" href="/css/admin-style.css">
<link rel="stylesheet" href="/css/table-scroll.css">
<!--
	Product Admin CSS Template
	https://templatemo.com/tm-524-product-admin
	-->
</head>

<body id="reportsPage">

	<!--Header-->
	<thblock th:include="ad-header"> </thblock>
	<!--Content-->
	<div class="container mt-5">
		<!--    <div class="row tm-content-row">-->
		<!--        <div class="col-sm-12 col-md-12 col-lg-8 col-xl-8 tm-block-col">-->
		<div class="tm-bg-primary-dark tm-block tm-block-products">
			<h2 class="tm-block-title">Danh sách sản phẩm</h2>
			<div class="search_and_icon">
				<form th:action="@{/listProduct}">
					<input type="text" size="50" name="keyword" id="keyword"
						th:value="${keyword}" placeholder="Tìm kiếm......">
					<input type="submit" value="Search">	
					<input type="button" value="Clear" id="btnClear" onclick="clearSearch()">
				</form>
			</div>
			<br>
			<div class="tm-product-table-container">
				<table class="table table-hover tm-table-small tm-product-table"
					style="border: 1px solid #3a5061">
					<thead>
						<tr>
							<!-- <th scope="col">&nbsp;</th> -->
							<th scope="col">TÊN SẢN PHẨM</th>
							<th scope="col">HÌNH ẢNH</th>
							<th scope="col">LOẠI SẢN PHẨM</th>
							<th scope="col">GIÁ</th>
							<th scope="col">TRẠNG THÁI</th>
							<th scope="col">XOÁ BỎ</th>
							<th scope="col">THAY ĐỔI</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="product : ${listProduct}">
							<!-- <th scope="row"><input type="checkbox" /></th> -->
							<td class="tm-product-name" th:text="${product.product_name}">Americano</td>
							<td><img style="width: 100px; height: auto"
								th:src="${product.fullPath}" alt="product image">
								<img style="width: 100px; height: auto"
								th:src="${product.url}" alt="product image"></td>
							<td th:text="${product.type}">CÀ PHÊ</td>
							<td th:text="${product.price}">39,000 Đ</td>
							<td th:text="${product.status}">bình thường</td>
							<td><a th:href="@{/delete/{id}(id=${product.id})}"
								class="tm-product-delete-link"> <i
									class="far fa-trash-alt tm-product-delete-icon"></i>
							</a></td>
							<td><a th:href="@{/edit/{id}(id=${product.id})}"
								class="tm-product-edit-link"> <i
									class="fas fa-edit tm-product-delete-icon"></i>
							</a></td>
						</tr>


					</tbody>
				</table>
			</div>
			<!-- table container -->
			<a th:href="@{/new}"
				class="btn btn-primary btn-block text-uppercase mb-3">Thêm sản
				phẩm</a>
			<!-- <button class="btn btn-primary btn-block text-uppercase">
				Xoá mục đã chọn</button> -->
		</div>
	</div>
	<!--Footer-->
	<footer class="tm-footer row tm-mt-small">
		<div class="col-12 font-weight-light">
			<p class="text-center text-white mb-0 px-4 small">
				<!--                Copyright &copy; <b>2020</b> All rights reserved.-->
				Copyright &copy;
				<script>
					document.write(new Date().getFullYear());
				</script>
				Coffee Blend. All rights reserved.
				<!--                Design: <a rel="nofollow noopener" href="https://templatemo.com" class="tm-footer-link">Template Mo</a>-->
			</p>
		</div>
	</footer>

	<script src="/js/jquery-3.3.1.min.js"></script>
	<!-- https://jquery.com/download/ -->
	<script src="/js/bootstrap.min.js"></script>
	<!-- https://getbootstrap.com/ -->

	<script type="text/javascript">
		$(document).ready(function() {
			$("#fileImg").change(function() {
				readURL(this);
			});
		});

		function readURL(input) {
			if (input.files && input.files[0]) {
				var reader = new FileReader();

				reader.onload = function(e) {
					$('#thumbnail').attr('src', e.target.result);
				}

				reader.readAsDataURL(input.files[0]); // convert to base64 string
			}
		}
	</script>
	<script type="text/javascript">
		function clearSearch() {
			window.location = "[[@{/listProduct}]]";
		}
	</script>

</body>
</html>