<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Danh sách nhân viên</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css?family=Roboto:400,700"
    />
    <!-- https://fonts.google.com/specimen/Roboto -->
    <link rel="stylesheet" href="css/fontawesome.min.css"/>
    <!-- https://fontawesome.com/ -->
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <!-- https://getbootstrap.com/ -->
    <link rel="stylesheet" href="css/admin-style.css">
    <link rel="stylesheet" href="css/table-scroll.css">
    <!--
	Product Admin CSS Template
	https://templatemo.com/tm-524-product-admin
	-->
</head>
<body>

<!--Header-->
<thblock th:include="ad-header"> </thblock>
<!--Content-->
<div class="container mt-5">
    <div class="tm-bg-primary-dark tm-block tm-block-products">
        <h2 class="tm-block-title">Danh sách nhân viên</h2>
        <div class="tm-product-table-container">
            <table class="table" style="border: 1px solid #3a5061">
                <thead>
                <tr>
                    <th scope="col">MÃ NHÂN VIÊN</th>
                    <th scope="col">HỌ TÊN</th>
                    <th scope="col">EMAIL</th>
                    <th scope="col">SỐ ĐIỆN THOẠI</th>
                    <th scope="col">ĐỊA CHỈ</th> 
                    <th scope="col">XOÁ</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="acc : ${admindetail}">
                    <td scope="row" th:text="${acc.id}"></thd>
                    <td th:text="${acc.fullName}"></td>
                    <td th:text="${acc.email}"></td>
                    <td th:text="${acc.numberPhone}"></td>
                    <td th:text="${acc.address}"></td>
                    <td>
                        <a th:href="@{/deleteStaff/{id}(id=${acc.id})}" class="tm-product-delete-link">
                            <i class="far fa-trash-alt tm-product-delete-icon"></i>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <a th:href="@{/addStaff/}" style="margin-top: 50px"
           class="btn btn-primary btn-block text-uppercase mb-3">
            Thêm nhân viên
        </a>
        <!--        <button class="btn btn-primary btn-block text-uppercase">-->
        <!--            Xoá mục đã chọn-->
        <!--        </button>-->
    </div>
</div>
<!--Footer-->
<footer class="tm-footer row tm-mt-small">
    <div class="col-12 font-weight-light">
        <p class="text-center text-white mb-0 px-4 small">
            <!--                Copyright &copy; <b>2020</b> All rights reserved.-->
            Copyright &copy;<script>document.write(new Date().getFullYear());</script>
            Coffee Blend. All rights reserved.
            <!--                Design: <a rel="nofollow noopener" href="https://templatemo.com" class="tm-footer-link">Template Mo</a>-->
        </p>
    </div>
</footer>

<script src="js/jquery-3.3.1.min.js"></script>
<!-- https://jquery.com/download/ -->
<script src="js/bootstrap.min.js"></script>
<!-- https://getbootstrap.com/ -->
<script>
    $(function () {
        $(".tm-product-name").on("click", function () {
            window.location.href = "order-edit.html";
        });
    });
</script>
</body>
</html>